/* Google Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Rock+salt&family=antic+slab:ital,wght@0,400;0,700;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Maven+Pro:wght@700&display=swap');

:root {
    /*Color scheme*/
    --primary-color: #368CFC   ;
    --secondary-color: #FF8547 ;
    --accent1-color: #99E6FF;
    --accent2-color: #FFE4C2;

    /*Fonts */
  --heading-font: "Rock Salt";
  --paragraph-font: "antic slab", "Maven Pro", sans-serif;

  /* Color for each paragraph */
  --headline-color-on-white: #368CFC;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #368CFC; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #368CFC  ;
  --nav-link-color: #368CFC;
  --nav-background-color: #FFE4C2;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #368CFC;
}

body {
    font-family:"Antic Slab", serif, "Maven Pro", sans-serif;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background-color: #ecf0f5;
  }
  #background {
    height: 725px;
    background-color: #ecf0f5;
  }
  
  /*img {
    display: block;
    margin: 0 auto;
    max-width: 700px;
  }*/

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rock Salt', cursive;
    color: #368CFC;
    text-align: center;
  }
  h2 {
    text-align: center;
    margin: 0;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    padding: 1em;
    text-align: center;
    color: white;
    background-color:#368CFC;
    display: grid;
    grid-template-columns: 150px auto;
  }
  header > h1, header > h2 {
    color: white;
  }
  p {
    font-family: 'Antic Slab', serif, 'Maven Pro', sans-serif;
    color: black;
    padding: 1em;
  }

  nav {
    background-color: #368CFC;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
  }
  nav  {
    list-style-type: none;
    display: flex;
  }
  nav a {
    padding:35px;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
  }
  nav a:link, nav a:visited {
    color: white;
  }
  nav a:hover {
    color:white;
    background-color:#FFE4C2;
  }

main {
  width: 1200px;
}
 
.background {
  padding: 40px;
  align-items: center;
  width: 500px;
}

.hero-top {
  display: flex;
  justify-content: center;

}

  section {
    text-align: center;
  }

  .adventure{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    text-align: center;
  }

  figure img{
    width: 150px;
  }

  figcaption{
    font-style: italic;
    margin-top: 5px;
    text-align: center;
  }


  img{
    max-width: 220px;
    max-height: 150px;
  }


footer {
    margin-top: 25px;
}

footer {
  background-color:#368CFC;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color:white;
  text-decoration: none;
}
footer a:hover{
  color:white;
}
footer p {
  align-items: center;
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px)
{ #hero, .home-grid {
    display: block;
    height: auto;
      }}
    

  nav, footer {
      flex-direction: row;
  }
  nav a {
      display: block;
      padding: 1px;
  }